/node_modules
/public/hot
/public/storage
/public/fonts
/public/plugins
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.lock


public/css/skins/node_modules/
public/img/credit/
public/img/resources/